/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=PT+Sans:wght@400;700&display=swap");

* {
    font-family: "PT Sans", sans-serif;
}

body {
    background-color: antiquewhite;
}

#logo {
    width: 5rem;
}

#logo-text {
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 5rem;
    font-family: "Cinzel Decorative", cursive;
}

.content {
    display: flex;
    margin-left: 8%;
    margin-bottom: 5%;
}

.card {
    margin: 1rem;
    background: #f8de9d;
    border-color: #fff186;
    border-left-width: thick;
    border-left-color: #e0b515;
    background-blend-mode: overlay;
    color: #1a1818;
    border-radius: 2rem;
}

.card:hover {
    transition-duration: 1s;
    box-shadow: 8px 10px 50px 4px rgba(0, 0, 0, 0.53);
}

.card-title {
    font-weight: bolder;
}

.card-link {
    text-decoration: none;
}

.edit-btn, .del-btn {
    width: 6rem;
    font-weight: bold;
}

form {
    padding: 5% 10%;
    background-color: #ffe5a5;
}

.sub-btn {
    margin-left: 40%;
    width: 18rem;
    font-size: xx-large;
    font-weight: bold;
    height: 5rem;
}

.button-yellow {
    background-color: #e0b515;
    border-color: #e0b515;
}

textarea {
    height: 20rem;
}
