{% extends "base.html" %}

{% block head %}
    <!--suppress HtmlDeprecatedAttribute -->
    <title>Studi♔m | Home</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for(endpoint="static", filename="css/index-style.css") }}"/>
{% endblock %}

{% block body %}
    <h1 id="logo-text"><img id="logo" src="{{ url_for(endpoint="static", filename="resources/logo.svg") }}"
                            alt="studium logo">Studi♔m
    </h1>
    <div class="content">
        {% if tasks|length < 1 %}
            <h4>There aren't any tasks. Create one below!</h4>
        {% else %}
            {% for task in tasks %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.gist }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ task.created.date() }}</h6>
                        <p class="card-text">{{ task.details }}</p>
                        <div align="center" class="d-grid gap-2 d-md-block">
                            <a href="/edit/{{ task.identity }}" class="btn btn-primary edit-btn">Edit</a>
                            <a href="/delete/{{ task.identity }}" class="btn btn-secondary del-btn">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <form action="/" method="post">
        <div class="mb-3">
            <label for="gist" class="form-label">Task Gist</label>
            <input type="text" class="form-control" id="gist" name="gist" placeholder="Doctor's Appointment">
        </div>
        <div class="mb-3">
            <label for="details" class="form-label">Details</label>
            <textarea class="form-control" id="details" rows="3" name="details"
                      placeholder="Commute to Milan Pharmacy for attending Dr. M. Sullivan's appointment regarding diet."></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg sub-btn">Add Item</button>
    </form>
{% endblock %}
