{% extends "base.html" %}

{% block head %}
    <title>Task Master | Update</title>
    <link rel="stylesheet" href="{{ url_for(endpoint="static", filename="css/update-style.css") }}"/>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Update Task</h1>

        <form action="/update/{{ task.identity }}" method="post">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" id="content" name="content" value="{{ task.content }}"/>
            <input id="submit" type="submit" value="Update"/>
        </form>
    </div>
{% endblock %}
